/* ======== VARIABLES ======== */
:root {
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --primary-white-color: #fff;
  --primary-black-color: #434455;
  --secondary-black-color: #2e2f42;
  --primary-accent-color: #404bbf;
}

/* ======== /VARIABLES ======== */

/* ======== COMMON / reset STYLES ======== */
body {
  font-family: var(--primary-font);
  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-black-color);
}

.benefits-desc,
.team-desc,
.portfolio-desc {
  font-size: 16px;
  color: var(--primary-black-color);
}

.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-black-color);
}
/* ======== /COMMON STYLES ======== */

/* ======== HEADER STYLES ======== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: var(--secondary-black-color);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary-black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--primary-accent-color);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  color: var(--primary-black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: var(--primary-accent-color);
}
/* ======== /HEADER STYLES ======== */

/* ======== HERO SECTION ======== */
.hero {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
  background-image:
    linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero/hr-box-opt.jpg');
  /* background-color: var(--secondary-black-color); */
}

.main-title {
  max-width: 496px;
  margin: 0 auto 48px auto;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.hero-btn {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  background-color: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--primary-accent-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
/* ======== /HERO SECTION ======== */

/* ======== BENEFITS SECTION ======== */
.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 3 * 24px) / 4);
}

.bnf-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

/* ======== /BENEFITS SECTION ======== */

/* ======== TEAM SECTION ======== */
.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: var(--primary-white-color);
}

.team-item img {
  display: block;
}

.team-content {
  padding: 32px 0px;
  text-align: center;
}

.tm-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.tm-item {
  width: 40px;
  height: 40px;
}

.tm-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  /* Основний синій колір */
  border-radius: 50%;
  /* Робимо круглу кнопку */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tm-item-link:hover,
.tm-item-link:focus {
  background-color: #404bbf;
  /* Колір при наведенні */
}

.tm-icon {
  fill: #f4f4fd;
  /* Світлий колір самої іконки всередині кола */
}

/* ======== /TEAM SECTION ======== */

/* ======== PORTFOLIO SECTION ======== */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 2 * 24px) / 3);
}

.portfolio-item img {
  display: block;
}

.portfolio-content {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
/* ======== /PORTFOLIO SECTION ======== */

/* ======== PAGE FOOTER ======== */
.page-footer {
  padding: 100px 0;
  background-color: var(--secondary-black-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  /* Вирівнювання по базовій лінії тексту */
}

.footer-info {
  margin-right: 120px;
  /* Відступ між описом та соцмережами */
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-desc {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  color: #f4f4fd;
}

/* Соціальні мережі у футері */

.ft-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.ft-list {
  display: flex;
  gap: 16px;
}

.ft-item {
  width: 40px;
  height: 40px;
}

.ft-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Специфічний колір для футера при наведенні */
.ft-item-link:hover,
.ft-item-link:focus {
  background-color: #31d0aa;
}

.ft-icon {
  fill: #f4f4fd;
}